@import "reset";
@import "global";
@import "variables";
@import "menu";
@import "main";
@import "footer";
@import "iphone6,7,8";
@import "iphoneX";
@import "iphone6,7,8pls";
@import "mobile";


.header-login {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  &-img {
    background-color: rgb(240, 168, 181);
  }
}    

.header-ke {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 105px;
  background: rgba(255, 255, 255, 0.24);
}

