.donate{
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.70);
}
.donate-thue {
  position: relative;
  background: #FFFFFF;
  border-radius: 24px;
  // display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  top:15%;

  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 133% ;
    letter-spacing: 0.024em;
    color: rgba(101, 1, 7, 0.87);
  }
  max-width:628px;
  margin: 0 auto;
}
.click {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  img {
  }
}
.content_icon {
	background: #FE616B;
	display: flex;
	align-items: center;
	justify-content: center;
	.donate-icon {
		margin-top: 30px;
		.icondontnate {
			width: 70px;
			margin-left: 80px;
			margin-right: 0;
		}
		.icondontn {
			width: 70px;
			margin-left: 40px;
			margin-right: 0;
			margin-top: -10px;
		}
		.infor {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 0.024em;
			color: #FFFFFF;
		}

		.infor-donate {


			.input-icon {
				max-width: 220px;
				width: 100%;
				height: 20px;
				outline: none;
				background: #FE616B;
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 150%;
				letter-spacing: 0.024em;
				color: #FFFFFF;
				padding: 0;
				&::placeholder {
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 150%;
					letter-spacing: 0.024em;
					color: #FFFFFF;

				}
			}
		}
	}
}
.nhantien {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143% ;
	text-align: center;
	letter-spacing: 0.024em;
	color: #FFFFFF;
	opacity: 0.72;
	margin-left: 60px;


}
.nhan {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143% ;
	text-align: center;
	letter-spacing: 0.024em;
	color: #FFFFFF;
	opacity: 0.72;
	margin-left: 30px;

}
.chuyennhuong {
	margin-top: -10px;
}
.sumitttt {
	padding: 34px 14px;
	p {
		color: #FFFFFF;

	}
}