// khai báo biến mầu,font chữ
@mixin bgc($bgccoloud) {
  background-color: $bgccoloud;
}
$header-color:rgba(255, 255, 255, 0.87);
// form dang nhap
$header-form:#650107;
$font:"Montserrat", sans-serif;

